@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #fdfcfb, #f1f5f9, #c8e7f5);
  background-attachment: fixed;
  font-family: "Josefin Sans", serif;
}